@font-face {
    font-family: 'FRAC';
    src: url('fonts/frac-boldweb.eot');
    src: url('fonts/frac-boldweb.woff') format('woff'),
         url('fonts/frac-boldweb.ttf')  format('truetype'),
         url('fonts/frac-boldweb.svg#frac') format('svg');
}

html {
    scroll-behavior: smooth;
}

body {
    border: 60px solid #FFEB00;
    border-bottom: none;
    background-color: #FFFDF3;
    font-family: 'Helvetica LT', 'Helvetica', 'Arial', sans;

    overflow-x: hidden;
}

/* typo */
h1, h2, h3, h4, .lead, nav li {
    font-family: 'FRAC';
    text-transform: uppercase;
    font-weight: bold;
}
h2 {
    font-size: 62px;
}
h2 span {
    display: inline-block;
    background-color: #FFEB00;
    padding: 0 4px;
}
h2.extra {
    transform: rotate(-10deg);
    text-align: center;
    margin-bottom: 120px;
}
h2.extra span {
    border: 20px solid #FFEB00;
    background-color: transparent;
    padding: 5px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h4 span {
    display: inline-block;
    background-color: #FFEB00;
    padding: 0 4px;
}
main p {
    font-size: 25px;
    margin-bottom: 40px;
}
main #Billetterie p {
    font-size: 18px;
}
.lead {
    font-size: 81px;
}
footer p {
    font-size: 17px;
}
.nav-item {
    font-size: 30px;
}
a {
    color: #000000;
    text-decoration: none;
}
a:visited, a:active, a:focused {
    color: #000000;
}
a.external {
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
}
a.external:after {
    display: inline-block;
    content: 'e';
    position: absolute;
    top: -12px;
    font-family: 'FRAC';
    font-size: 80px;
    font-weight: bold;
    text-transform: none;
}
#Billetterie a.external:after {
    font-size: 40px;
    top: -5px;
}
em {
    font-style: normal;
    background-color: #FFEB00;
}

/* header */
.logo {
    max-width: 720px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.sticky + main {
    padding-top: 50px;
}
.sticky nav {
    position: fixed;
    top: 60px;
    left: 60px;
    width: calc(100% - 120px);
    z-index: 1;
}

/* nav */
nav {
    height: 50px;
    text-align: left;
}
nav ul {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 10%;
    list-style: none;
}
nav li {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    background-color: #FFFDF3;
}
nav li + li {
    margin-left: -5px;
}
nav a {
    display: inline-block;
    padding: 3px;
    transition: 0.25s;
    line-height: 20px;
}
nav li.active {
    background-color: #FFEB00;
}

/* layout */
#topbar, #bottombar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #FFEB00;
    z-index: 100;
}
#bottombar {
    top: auto;
    bottom: 0;
}
section {
    padding: 1px 40px;
}
.tac {
    text-align: center;
}
.lead {
    margin-top: 180px;
    display: inline-block;
    transform: rotate(-10deg);
}
.colone {
    position: relative;
    z-index: -1;
}
.colone_1 {
    top: 200px;
}
.colone_2 {
    top: 100px;
}
.colone_3 {
    top: 200px;
    z-index: 3000;
}
.colone_4 {
    top: 300px;
    z-index: 3000;
}
.colone img {
    position: absolute;
}
.colone_1 img {
    width: 50%;
    left: -10%;
}
.colone_2 img {
    width: 50%;
    left: 70%;
}
.colone_3 img {
    width: 30%;
    left: -15%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.colone_4 img {
    width: 50%;
    left: 70%;
}
#Presentation {
    padding-top: 60px ;
    margin-top: 130px;
    padding-left: 40%;
}
#Programme {
    padding-top: 60px ;
    margin-top: 75px;
    padding-left: 10%;
    max-width: 70%;
}
#Billetterie {
    padding: 0 15%;
}
.half {
    width: 50%;
    float: left;
}
.half:nth-child(2) > * {
    padding-right: 5%;
}
.half:nth-child(3) {
    padding-top: 100px;
}
.half:nth-child(3) > * {
    padding-left: 5%;
}
.third {
    width: 33.3%;
    float: left;
}
h4 {
    clear: both;
}

footer {
    clear: both;
    position: relative;
    background-color: #FFEB00;
    margin-top: 80px;
    padding: 50px 0;
    z-index: 2000;
}

/* mobile view */
@media (max-width: 780px){
    body {
        position: relative;
        border-width: 20px;
    }
    #topbar, #bottombar {
        height: 20px;
    }
    header {
        padding: 20px;
    }
    .logo {
        padding-top: 0;
        width: 100%;
    }
    nav ul {
        display: block;
    }
    nav li {
        display: block;
        line-height: 32px;
        text-align: center;
    }
    nav li + li {
        margin-left: 0;
    }
    main {
        padding: 20px;
    }
    section {
        padding: 0 !important;
    }
    section[id]{
        margin-top: 50px !important;
        max-width: 100% !important;
    }
    .half, .third {
        width: 100%;
        float: none;
    }
    .half > * {
        padding: 0 !important;
    }
    .colone_3 img {
        width: 35%;
        left: -25%;
    }
    /* mobile typo */
    h2 {
        text-align: center;
        font-size: 32px;
    }
    h4 {
        text-align: center;
        font-size: 24px;
    }
    main p {
        font-size: 17px;
        background: #FFFDF3;
        margin: 0;
        padding: 20px 0;
    }
    .lead {
        font-size: 27px;
        border: 20px solid #FFEB00;
        padding: 10px;
        width: 100%;
        position: relative;
        max-width: 400px;
    }
    a.extra {
        font-size: 20px;
    }
    a.external:after {
        font-size: 40px;
        top: -5px;
    }
    .colone_1 {
        top: 60vw;
    }
    .colone_1 img {
        width: 120%;
        left: -10%;
    }
    .colone_2 img {
        width: 120%;
        left: -10%;
    }
    .colone_2 {
        top: auto;
        position: absolute;
        z-index: 2000;
        width: 100%;
        bottom: 0;
        height: 400px;
        overflow: hidden;
    }
    footer {
        margin-top: 200px;
    }
    /* nav */
    nav {
        position: relative;
        left: -20px;
        width: calc(100% + 40px);
    }
    .sticky nav {
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
    }
    nav ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: .5s;
    }
    nav ul.open {
        max-height: 500px;
    }
    .burger {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40px;
        height: 40px;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        z-index: 4000;
    }
    .burger span {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 4px;
        top: 8px;
        left: 0;
        background-color: #222;
        pointer-events: none;
        -webkit-transition: 0.75s;
        transition: 0.75s;
    }
    .burger span:nth-child(2) {
        top: 18px;
    }
    .burger span:nth-child(3) {
        top: 28px;
    }
}

@media (max-width: 480px){
    h2.extra {
        position: relative;
        left: -20px;
    }
}